# Environment folder
.venv

# Cache directories
.pytest_cache
*__pycache__*


# Misc
.vscode
pycarrot/modelling/__pycache__/_prepare_data.cpython-310.pyc
pycarrot/modelling/__pycache__/_reduce_feature_space.cpython-310.pyc
pycarrot/modelling/__pycache__/_train_model.cpython-310.pyc
